@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

*{
	padding: 0;
	margin:0;
}
body{
	min-height: 100vh;
	font-family: 'Space Mono', monospace !important;
}

.header{
	height: 125px;
	width: 100%;
	padding: 25px 60px;
	box-sizing: border-box;
	background: linear-gradient(90deg, rgba(244,50,50,1) 3%, rgba(235,105,85,1) 95%); 
	font-family: 'Space Mono', monospace;

}
.header img{
	width: 4%;
	
}
.header a{
	text-decoration: none;
	font-size: 40px;
	font-weight: bold;
	color: black;

}

.main {
	text-align: center;
	
	font-family: 'Space Mono', monospace;
	font-size: 20px;
	padding-top: 90px;
}
.main img{
	width: 50%;
}
.texto{
	font-size: 20px;
}
.paddingTop{
	padding-top: 40px;
}
.foot{
	background: linear-gradient(90deg, rgba(244,50,50,1) 3%, rgba(235,105,85,1) 95%);
	height: 40px; 
}

.contenedor{
    display:grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%,20rem), 1fr));
	padding-left: 22px;
}



.textoForm{
	font-size: 25px;
	color: black;
}

.inputEstilo{
	border: .5px solid black;
	min-height: 45px;
	width: 350px;
	font-family: 'Space Mono', monospace;
	font-size: 20px;
	text-align: center;
}


.inputEstilo2{
	border: .5px solid black;
	min-height: 45px;
	width: 950px;
	font-family: 'Space Mono', monospace;
	font-size: 20px;
	text-align: center;
}


#header img{
	width: 20%;
}

#mainCompra img{
	width: 20%;
}

.verde{
	background-color: green;
}

.card2 {
    position: relative;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column; 
	min-width: 0; 
    word-wrap: break-word; 
    background-color: #fff; 
    background-clip: border-box; 
    border: 1px solid rgba(0,0,0,.125); 
    border-radius: 0.25rem;
}



.card3 {
    position: relative;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column; 
	min-width: 0; 
    word-wrap: break-word; 
    background-color: #fff; 
    background-clip: border-box; 
    border: 1px solid rgba(0,0,0,.125); 
    border-radius: 0.25rem;
	}


.cart{
	font-size: 60px;
	text-align: center;
	color: black;
	text-decoration: none;
	
}

.btn-primary{
	background-color: rgb(228, 67, 67) !important;
	border-color: black !important;
	
}

.containerContacto{
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	text-align: center;
}



