@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

*{
	padding: 0;
	margin:0;
}
body{
	min-height: 100vh;
}

.header{
	height: 125px;
	width: 100%;
	padding: 25px 60px;
	box-sizing: border-box;
	background: linear-gradient(90deg, rgba(244,50,50,1) 3%, rgba(235,105,85,1) 95%); 
	font-family: 'Space Mono', monospace;

}
.header img{
	width: 4%;
	
}
.header a{
	text-decoration: none;
	font-size: 40px;
	font-weight: bold;
	color: black;

}

.main {
	text-align: center;
	max-height: 100vh;
	font-family: 'Space Mono', monospace;
	font-size: 20px;
	padding-top: 90px;
}
.main img{
	width: 50%;
}
.texto{
	font-size: 20px;
}
.paddingTop{
	padding-top: 40px;
}
.foot{
	background: linear-gradient(90deg, rgba(244,50,50,1) 3%, rgba(235,105,85,1) 95%);
	height: 40px; 
}

.contenedor{
    display:grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%,20rem), 1fr));
}



.textoForm{
	font-size: 25px;
	color: black;
}

.inputEstilo{
	border: .5px solid black;
	min-height: 45px;
	width: 300px;.
	font-family: 'Space Mono', monospace;
	font-size: 20px;
	text-align: center;
}

#contador2 img{
	width: 10%;
}

#mainCompra img{
	width: 20%;
}



.card2 {
    position: relative;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column; 
	min-width: 0; 
    word-wrap: break-word; 
    background-color: #fff; 
    background-clip: border-box; 
    border: 1px solid rgba(0,0,0,.125); 
    border-radius: 0.25rem;
}


#contCompra{
	display: flex;
	flex-direction: row;
	height: 100px;
	width: 100%;
}


.card3 {
    position: relative;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column; 
	min-width: 0; 
    word-wrap: break-word; 
    background-color: #fff; 
    background-clip: border-box; 
    border: 1px solid rgba(0,0,0,.125); 
    border-radius: 0.25rem;
	background-color: aqua;
}